
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AccountManageController" ng-init="LoadUser()">
    <div class="fullscreenDiv" ng-show="IsLoadingPage">
        <div class="center">
            <i class="fa fa-circle-o-notch fa-5x fa-spin" aria-hidden="true"></i>
        </div>
    </div>
    <!-- Content Header (Page header) -->  
    <section class="content-header">
        <h1>
            Advanced Form Elements
            <small>Preview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">DANH SÁNH NHÂN VIÊN </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i> Thêm mới</button>
                </h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="keyword" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="button" ng-click="LoadUser()" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Username</th>
                            <th>Họ và tên</th>
                            <th>CMND</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Ghi chú</th>
                            <th>#</th>
                        </tr>
                        <tr ng-repeat="u in lstUser">
                            <td>{{u.Username}}</td>
                            <td>{{u.FullName}}</td>
                            <td>{{u.IDNo}}</td>
                            <td><span class="label label-success">{{u.Address}}</span></td>
                            <td>{{u.Phone}}</td>
                            <td>{{u.Note}}</td>
                            <td><a ng-click="">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Thêm nhân viên</h3>
                </div>
                <div class="modal-body" id="invoice">
                    <div class="row">
                        <div class="col col-lg-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputUsername">Email address</label>
                                    <input type="text" class="form-control" ng-model="model.strUsername" id="exampleInputUsername" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" ng-model="model.Password" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Hình ảnh</label>
                                    <input type="file" id="exampleInputFile">
                                </div>
                                <div class="form-group">
                                    <label for="examplePosition">Chức vụ</label>
                                    <select class="form-group" id="examplePosition" ng-model="model.Position">
                                        <option value="1">Nhân viên</option>
                                        <option value="2">Quản lý</option>
                                        <option value="3">...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputFullname">Họ và tên</label>
                                    <input type="text" class="form-control" ng-model="model.Fullname"  id="exampleInputFullname" placeholder="Họ và tên">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputAddress">Địa chỉ</label>
                                    <input type="text" class="form-control" ng-model="model.Address" id="exampleInputAddress" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPhone">SĐT</label>
                                    <input type="tel" class="form-control" ng-model="model.Phone" id="exampleInputPhone" placeholder="Số điện thoại">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputIDNo">CMND</label>
                                    <input type="tel" class="form-control" ng-model="model.IDNo" id="exampleInputIDNo" placeholder="CMND">
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" ng-click="CreateUser()">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>