<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Font awesome -->
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link id="loadBefore" href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/customize.css" rel="stylesheet" />

    @Styles.Render("~/Plugins/css")

</head>
<body>
@RenderBody()
</body>
