<div class="footer">
    <div class="pull-right">
        Knowledge. Experience. Enthusiasm. Dedication
    </div>
    <div>
        <strong>Copyright</strong> KiddyShop.com &copy; @DateTime.Now.Year
    </div>
</div>

