
<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="AccountLoginCtrl">
    <div>
        <div>
            <h2 class="logo-name">KiddyShop</h2>
        </div>
        <h3>Online Shopping for Kids</h3>
        <p>Help to buy product within 5 mins!</p>
        <ngspinner name="spinner_signin_loading" show="processing"></ngspinner>
        <form class="m-t" role="form" ng-submit="login()" name="form" novalidate>
            <div class="form-group" ng-show="!processing">
                <div class="alert alert-danger text-left" ng-show="ErrorMessage != null">
                    <span ng-bind-html="ErrorMessage"></span>
                </div>
                <div class="alert alert-success text-left" ng-show="SuccessMessage != null">
                    <span ng-bind-html="SuccessMessage"></span>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="IsLogginFormError">
                Something went wrong!<br />Please contact us for assistant. <a class="alert-link" ui-sref="login">help@octolium.com</a>.
            </div>
            <div class="form-group">
                <div ng-class="{'has-error': hasError(form, 'UserName', 'required') === true, 'has-success': hasError(form, 'UserName', 'required') === false}">
                    <input type="text" name="UserName" class="form-control" placeholder="Enter UserName" required ng-model="LoginUserBindingModel.UserName">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="{'has-error': hasError(form, 'Password', 'required') === true, 'has-success': hasError(form, 'Password', 'required') === false}">
                    <input type="password" name="Password" class="form-control" placeholder="Enter Password" required ng-model="LoginUserBindingModel.Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="btnLoginDisable || !form.$valid">Login</button>
            <a ui-sref="forgotPassword"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ng-disabled="btnLoginDisable" ui-sref="register">Create an account</a>
        </form>
        <p class="m-t"> <small>Amazing company &copy; @DateTime.Now.Year</small> </p>
    </div>
</div>

